{% extends 'layout.html'%}

{% block title%}
  Hello
{%endblock%}

{% block navbar %}

  {% comment %} Have the logout button only when you have logged in {% endcomment %}
  {%if user.is_authenticated%}

  {% comment %} <a href="{%url 'api:deploy'%}" >

    <button type="submit">Deploy</button> | 
  </a>  {% endcomment %}

  <a href="{%url 'api:logout'%}" >

    <button type="submit">Logout</button> | 
  </a> 



  {%else%}
  
      
  <a href="{%url 'api:signup'%}" >

    <button type="submit">Signup</button> | 
  </a> 

  <a href="{%url 'api:login'%}" >

    <button type="submit">Login</button> | 
  </a> 

  {%endif%}

{%endblock%}

{%block content%}
  Hello
{% endblock %}