{% extends 'layout.html'%}
{% load static %}

{% block title%}
  Login
{%endblock%}



{%block content%}
  
    <div class="mb-2.5 text-center">Login</div>
    <form method="POST" class="flex flex-col justify-center content-center text-xl gap-5 max-w-[400px] mx-auto my-0 px-[50px] py-5 rounded-[10px] border-solid border-2 border-[white]" action="{%url 'api:login'%}">
        {% csrf_token %}
        {{form.as_p}}

        <button class="no-underline text-2xl px-2.5 py-[5px] rounded-[5px] bg-slate-100 text-black" type="submit">Login</button>
    </form> 

{% endblock %}